* {
  box-sizing: content-box;
}
body {
  background-image: linear-gradient(to bottom, #a7afb3, #d3d7d9);
  margin: 0;
}
:root {
  /* Base 16 px */
  font-size: 16px;

  /* My color variables */
  --header-primary: white;
  --header-bg-primary: lightblue;
  --nav-primary: #a7afb3;
  --card-primar: #d3d7d9;
  --card-shadow-primary: rgba(172, 132, 132, 0.582);
  --main-bg-primary: #a9a9a9;
  --footer-bg-primary: #807e7e;

  --text-primary: rgb(255, 111, 0);
  --logo-prmary: rgb(17, 0, 255);
  --bg-primary: rgb(109, 0, 129);

  /* My img variables */
  --header-bg: url(../assets-raw/elefant-asiatisk.png);
}
img {
  display: block;
}
header {
  color: var(--header-primary);
  /* background-image: var(--header-bg); */
  background-color: var(--header-bg-primary);
  height: 100px;
  padding: 20px 0;
  width: 100%;
}
header picture {
  display: flex;
  justify-content: center;
}
header picture img {
  width: 70%;
  height: 70%;
}
nav {
  background-color: var(--nav-primary);
  cursor: pointer;
}
main {
  background-color: var(--main-bg-primary);
  margin-top: 0.5rem;
}
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
.block {
  padding: 0.5rem;
  border-radius: 20px;
  margin: 3px 0;
}
.nav-menu {
  transition: 4s;
}

#menu-content {
  font-size: 2rem;
  text-decoration: double;
  font-weight: bold;
  margin-left: 20px;
}

.center {
  display: flex;
  text-align: center;
  justify-content: center;
  /* background-color: aquamarine; */
}
#intro {
  grid-area: intro;
}
#asiatisk {
  grid-area: asiatisk;
}
#afrikansk {
  grid-area: afrikansk;
}
#indisk {
  grid-area: indisk;
}
#jakt {
  grid-area: jakt;
}
.cardgrid {
  margin-bottom: 0;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "intro"
    "asiatisk"
    "afrikansk"
    "indisk"
    "jakt";
}
.card {
  border-radius: 4px;
  padding: 1rem;
  background-color: var(--card-primar);
  margin: 10px;
  box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem var(--card-shadow-primary);
}

.cardTitle {
  margin-top: 0;
}
.content {
  display: flex;
  flex-direction: row;
}
.ContentMenuBtn {
  color: black;
  background-color: var(--footer-bg-primary);
}
.ContentMenuBtn:hover {
  color: blue;
  font-size: 150%;
  transition: 400ms;
}

.content-blocks {
  background-color: var(--card-primar);
  list-style: circle;
  list-style-position: inside;
}
.content-blocks li {
  padding: 0.5rem;
  border-radius: 10px;
  width: auto;
}
.content-blocks li a {
  padding: 0.4rem 1.4rem;
}
.hidden {
  display: none;
}

#content-drop-down {
  transition: 1s;
}
.invertscale {
  transform: scale(-1);
}

footer {
  background-color: var(--footer-bg-primary);
  padding: 20px;
  margin: 0;
}

@media screen and (min-width: 680px) {
  .class {
    color: red;
  }
  .cardgrid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas:
      ".      intro     intro     ."
      "asiatisk   asiatisk  afrikansk afrikansk"
      ".          indisk    indisk    ."
      ".      jakt   jakt   .";
  }
  header picture img {
    width: 100%;
    height: 70%;
  }
}

@media screen and (min-width: 980px) {
  .cardgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "intro     intro      intro"
      "asiatisk   afrikansk indisk"
      "jakt jakt jakt";
  }
}
