* {
  box-sizing: content-box;
}
body{
  background-image: linear-gradient(to bottom, #a7afb3 , #d3d7d9);
}
:root {
  /* Base 16 px */
  font-size: 16px;

  /* My color variables */
  --header-primary: white;
  --nav-primary: #a7afb3;
  --card-primar: #d3d7d9;
  --main-bg-primary: darkgray;

  --text-primary: rgb(255, 111, 0);
  --logo-prmary: rgb(17, 0, 255);
  --bg-primary: rgb(109, 0, 129);

  /* My img variables */
  --header-bg: url(../assets-raw/elefant-asiatisk.png);
}
img {
  display: block;
}
header {
  color: var(--header-primary);
  background-image: var(--header-bg);
  height: 50px;
}
nav {
  background-color: var(--nav-primary);
}
main {
  background-color: var(--main-bg-primary);
  margin-top: 0.5rem;
}
.block {
  padding: 0.5rem;
  border-radius: 20px;
  margin: 3px 0;
  cursor: pointer;
}
.nav-menu {
  transition: 4s;
}

#menu-content {
  font-size: 2rem;
  text-decoration: double;
  font-weight: bold;
  margin-left: 20px;
}

.center {
  display: flex;
  text-align: center;
  justify-content: center;
  /* background-color: aquamarine; */
}
.card {
  border-radius: 4px;
  padding: 1rem;
  background-color: var(--card-primar);
  margin: 10px;
}
.cardTitle {
  margin-top: 0;
}
.content {
  display: flex;
  flex-direction: row;
}
.ContentMenuBtn:hover {
  color: blue;
  font-size: 150%;
  transition: 400ms;
}

.hidden {
  display: none;
}

.content-blocks {
  background-color: var(--card-primar);
}

#content-drop-down {
  transition: 1s;
}
.arrowmove {
  transform: scale(-1);
}

@media screen and (min-width: 680px) {
  .class {
    color: red;
  }
}
